@import 'variables.scss', 'intro.scss', 'projects.scss', 'skills.scss', 'contact.scss';

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100vw;
  min-height: 100vh;
  background-color: white;
  background: url(../assets/background.jpg);
  background-size: cover;
  font-family: $mono;

  #body {
    width: 100%;
    height: 100%;

    #content {
      @extend #body;
    }
  }
}

a {
  text-decoration: inherit;
  color: inherit;
}

.topbtn {
  cursor: pointer;
  width: 45px;
  height: 45px;
  align-self: flex-end;
  transform: translateX(-350%);
  border-radius: 8px;
  border: 3px solid $nv;
  background-color: $cr;

  &:hover {
    background-color: white;
    color: $nv;
    transform: translateX(-350%) scale(1.1);
  }
}